<ngx-loading [show]="isLoading"></ngx-loading>
<div appScrollspy [spiedTags]="['SECTION']" (sectionChange)="onSectionChange($event)">
    <!-- Begin page -->
    <div class="layout-wrapper landing">
        <nav class="navbar navbar-expand-lg navbar-landing fixed-top" id="navbar" (window:scroll)="windowScroll()">
            <div class="container">
                <a class="navbar-brand" routerLink="/">
                    <img src="assets/images/logo-dark.png" class="card-logo card-logo-dark" alt="logo dark" height="35">
                    <img src="assets/images/logo-light.png" class="card-logo card-logo-light" alt="logo light"
                        height="35">
                </a>
                <button class="navbar-toggler py-0 fs-20 text-body" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()">
                    <i class="mdi mdi-menu"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mt-2 mt-lg-0" id="navbar-example">
                    </ul>

                    <div class="me-1 mb-1" *ngIf="!userData.user_id">
                        <a routerLink="/auth/login" [queryParams]="{returnUrl: router.url}" class="btn btn-primary">Sign In</a>
                    </div>
                    <div class="me-1 mb-1" *ngIf="userData.role_name === 'Admin'">
                        <a routerLink="/admin" class="btn btn-success">Admin Page</a>
                    </div>
                    <div class="dropdown me-1 mb-1" *ngIf="userData.user_id" ngbDropdown>
                        <button type="button" class="btn btn-primary" id="page-header-user-dropdown" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                            <i class="ri-user-3-line"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                            <!-- item-->
                            <h6 class="dropdown-header">Hi, {{userData.name ? userData.name : 'Guest'}}!</h6>
                            <a class="dropdown-item" href="javascript:void(0);" (click)="onLogout()"><i
                                    class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i> <span
                                    class="align-middle" data-key="t-logout">Logout</span></a>
                        </div>
                    </div>
                </div>

            </div>
        </nav>
        <!-- end navbar -->

        <!-- start services -->
        <section class="section bg-light" id="categories">
            <div class="bg-overlay bg-overlay-pattern opacity-75"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="text-center mb-5">
                            <h1 class="mb-3 ff-secondary fw-semibold lh-base">Welcome to <span
                                    class="text-primary">One Point Lesson</span>!</h1>
                            <p class="text-muted">Select factory line to continue.</p>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row --> 

                <div class="row justify-content-center" *ngIf="lineData.length > 0">
                    <div class="col-lg-3 col-md-6" *ngFor="let item of lineData">
                        <div class="card shadow-lg text-center py-3 rounded-4">
                            <div class="card-body py-4">
                                <!-- <div class="avatar-sm position-relative mb-4 mx-auto">
                                    <div class="job-icon-effect"></div>
                                    <div class="avatar-title bg-transparent text-success rounded-circle">
                                        <i class="{{ item.icon }} fs-1"></i>
                                    </div>
                                </div> -->
                                <a routerLink="./{{ item.slug }}" class="stretched-link">
                                    <h5 class="fs-17 pt-1">{{ item.name }}</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>

        <button (click)="topFunction()" class="btn btn-danger btn-icon landing-back-top" id="back-to-top">
            <i class="ri-arrow-up-line"></i>
        </button>
        <!--end back-to-top-->

    </div>

</div>