<div class="row">
    <div class="col">
        <div class="h-100">
            <div class="row mb-3 pb-1">
                <div class="col-12">
                    <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                        <div class="flex-grow-1">
                            <h4 class="fs-16 mb-1">{{ getGreeting() }}, {{ userData.name }}!</h4>
                            <p class="text-muted mb-0">What would you like to do today?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-start">
                <div class="col-lg-3 col-sm-6">
                    <div class="card shadow-lg text-center py-3 rounded-4">
                        <div class="card-body py-4">
                            <div class="avatar-sm position-relative mb-4 mx-auto">
    
                                <div class="avatar-title bg-transparent text-primary rounded-circle">
                                    <i class="ri-dashboard-fill fs-1"></i>
                                </div>
                            </div>
                            <a routerLink="../" class="stretched-link">
                                <h5 class="fs-17 pt-1">OPL Menu</h5>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card shadow-lg text-center py-3 rounded-4">
                        <div class="card-body py-4">
                            <div class="avatar-sm position-relative mb-4 mx-auto">
    
                                <div class="avatar-title bg-transparent text-primary rounded-circle">
                                    <i class="ri-building-2-fill fs-1"></i>
                                </div>
                            </div>
                            <a routerLink="./master/line" class="stretched-link">
                                <h5 class="fs-17 pt-1">Manage Line</h5>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card shadow-lg text-center py-3 rounded-4">
                        <div class="card-body py-4">
                            <div class="avatar-sm position-relative mb-4 mx-auto">
    
                                <div class="avatar-title bg-transparent text-primary rounded-circle">
                                    <i class="ri-building-3-fill fs-1"></i>
                                </div>
                            </div>
                            <a routerLink="./master/area" class="stretched-link">
                                <h5 class="fs-17 pt-1">Manage Area</h5>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card shadow-lg text-center py-3 rounded-4">
                        <div class="card-body py-4">
                            <div class="avatar-sm position-relative mb-4 mx-auto">
    
                                <div class="avatar-title bg-transparent text-primary rounded-circle">
                                    <i class="ri-scan-2-fill fs-1"></i>
                                </div>
                            </div>
                            <a routerLink="./master/machine" class="stretched-link">
                                <h5 class="fs-17 pt-1">Manage Machine Area</h5>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card shadow-lg text-center py-3 rounded-4">
                        <div class="card-body py-4">
                            <div class="avatar-sm position-relative mb-4 mx-auto">
    
                                <div class="avatar-title bg-transparent text-primary rounded-circle">
                                    <i class="ri-user-3-fill fs-1"></i>
                                </div>
                            </div>
                            <a routerLink="./master/users" class="stretched-link">
                                <h5 class="fs-17 pt-1">Manage Users</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>