<ngx-loading [show]="loading"></ngx-loading>
<!-- auth-page wrapper -->
<div class="auth-page-wrapper auth-bg-cover py-5 d-flex justify-content-center align-items-center min-vh-100" *ngIf="!isOnRefresh">
    <div class="bg-overlay"></div>
    <!-- auth-page content -->
    <div class="auth-page-content overflow-hidden pt-lg-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card overflow-hidden border-0">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="p-lg-5 p-4 auth-one-bg h-100">
                                    <div class="bg-overlay"></div>
                                    <div class="position-relative h-100 d-flex flex-column">
                                        <div class="mb-4">
                                            <a routerLink="/" class="d-block">
                                                <!-- <img src="assets/images/logo-dark.png" alt="" height="40"> -->
                                            </a>
                                        </div>
                                        <div class="mt-auto">
                                            <div class="mb-3">
                                                <i class="ri-file-edit-fill display-4 text-success"></i>
                                                <div class="text-white display-6">One Point Lesson (OPL)</div>
                                            </div>
                                          <!-- end carousel -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col -->
  
                            <div class="col-lg-6">
                                <div class="p-lg-5 p-4">
                                    <div>
                                        <h5 class="text-primary">Welcome Back !</h5>
                                        <p class="text-muted">Sign in to continue.</p>
                                    </div>
                                    <div *ngIf="isLoginFailed" class="alert border-0 shadow alert-danger" role="alert">
                                        <strong>{{errorMessage}}</strong>
                                      </div>
                                    <div class="mt-4">
                                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                                            <div class="mb-3">
                                              <label class="form-label" for="username">NIK</label>
                                              <input type="text" class="form-control" id="email" formControlName="email"
                                              [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                                              placeholder="Enter NIK">
                                              <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                                  <div *ngIf="f['email'].errors['required']">NIK is required</div>
                                              </div>
                                            </div>
          
                                            <div class="mb-3">
                                                <label class="form-label" for="password-input">Password</label>
                                                <div class="position-relative auth-pass-inputgroup mb-3">
                                                    <input [type]="fieldTextType ? 'text' : 'password'" class="form-control pe-5" placeholder="Enter password" id="password-input" formControlName="password"
                                                    [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
                                                    <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted" type="button" id="password-addon"><i class="mdi align-middle" [ngClass]="{'mdi-eye-off-outline': !fieldTextType, 'mdi-eye-outline': fieldTextType
                                                    }" (click)="toggleFieldTextType()"></i></button>
                                                    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                                      <span *ngIf="f['password'].errors['required']">Password is required</span>
                                                    </div>
                                                </div>
                                            </div>
          
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="auth-remember-check" [checked]="isRemembered" (click)="onRememberMeChecked()">
                                                <label class="form-check-label" for="auth-remember-check">Remember me</label>
                                            </div>
          
                                            <div class="mt-4">
                                                <button class="btn btn-success w-100" type="submit">Sign In</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
  
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end auth page content -->
  
    <!-- footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <p class="mb-0">&copy; {{year}} PT Amerta Indah Otsuka</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->
  </div>
  <!-- end auth-page-wrapper -->
  
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
