<ngx-loading [show]="isLoading"></ngx-loading>
<div appScrollspy [spiedTags]="['SECTION']" (sectionChange)="onSectionChange($event)">
    <div class="layout-wrapper landing">
        <nav class="navbar navbar-expand-lg navbar-landing fixed-top" id="navbar" (window:scroll)="windowScroll()">
            <div class="container">
                <a *ngIf="selectedAreaData" class="navbar-brand" routerLink="/{{ selectedAreaData.line_slug }}">
                    <img src="assets/images/logo-dark.png" class="card-logo card-logo-dark" alt="logo dark" height="35">
                    <img src="assets/images/logo-light.png" class="card-logo card-logo-light" alt="logo light" height="35">
                </a>
                <button class="navbar-toggler py-0 fs-20 text-body" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation" (click)="toggleMenu()">
                    <i class="mdi mdi-menu"></i>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mt-2 mt-lg-0" id="navbar-example">
                    </ul>
    
                    <div class="me-1 mb-1" *ngIf="!userData.user_id">
                        <a routerLink="/auth/login" [queryParams]="{returnUrl: router.url}" class="btn btn-primary">Sign In</a>
                    </div>
                    <div class="me-1 mb-1" *ngIf="userData.role_name === 'Admin'">
                        <a routerLink="/admin" class="btn btn-success">Admin Page</a>
                    </div>
                    <div class="dropdown me-1 mb-1" *ngIf="userData.user_id" ngbDropdown>
                        <button type="button" class="btn btn-primary" id="page-header-user-dropdown" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                            <i class="ri-user-3-line"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                            <!-- item-->
                            <h6 class="dropdown-header">Hi, {{userData.name ? userData.name : 'Guest'}}!</h6>
                            <a class="dropdown-item" href="javascript:void(0);" (click)="onLogout()"><i
                                    class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i> <span
                                    class="align-middle" data-key="t-logout">Logout</span></a>
                        </div>
                    </div>
                </div>
    
            </div>
        </nav>
    
        <section class="section bg-light" id="categories">
            <div class="bg-overlay bg-overlay-pattern opacity-75"></div>
            <div class="container">
    
                <div class="row justify-content-center" *ngIf="selectedAreaData">
                    <div class="col-lg-7">
                        <div class="text-center">
                            <h3 class="mb-3 ff-secondary fw-semibold lh-base">One Point Lesson: <span
                                    class="text-primary">{{ selectedAreaName }}</span></h3>
                            <p class="text-muted" *ngIf="!userData.user_id">Sign in to add or update an OPL</p>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
    
                <button (click)="onBackToArea()" type="button" class="mb-3 btn btn-success add-btn" id="import-btn">
                    <i class="ri-arrow-left-line align-bottom me-1"></i> Back to Area
                </button>
    
                <div class="card">
                    <div class="card-header">
                        <div class="row g-4">
                            <div class="col-sm">
                                <div class="d-flex gap-1">
                                    <button *ngIf="userData.user_id" type="button" class="btn btn-sm btn-primary add-btn" id="create-btn" (click)="openModal(content)">
                                        <i class="ri-add-line align-bottom me-1"></i> Add
                                    </button>
                                    <div class="ms-2">
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-text"><i class="ri-calendar-2-fill"></i></span>
                                            <input class="form-control flatpickr-input" placeholder="Date Range Filter"
                                            type="text" mwlFlatpickr (change)="onChangeDateRange($event)" [altInput]="true" [convertModelValue]="true"
                                            mode="range">
                                        </div>
                                    </div>
                                    <div class="ms-2">
                                        <select class="form-select form-select-sm" (change)="onMachineAreaFilter($event)">
                                            <option class="text-muted" value="">Select machine area</option>
                                            <option [value]="common.jsonToString({ id: -1 })">(All Machine Area)</option>
                                            <option *ngFor="let machine of defaultMachineData" [value]="common.jsonToString(machine)">{{ machine.name }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="d-flex justify-content-sm-end">
                                    <div class="row row-cols-lg-auto g-1 align-items-center me-2 fs-12">Show</div>
                                    <div>
                                        <select class="form-select form-select-sm" [(ngModel)]="pageSize" (change)="searchSubject.next(searchTerm)">
                                            <option [value]="10">10</option>
                                            <option [value]="25">25</option>
                                            <option [value]="50">50</option>
                                            <option [value]="100">100</option>
                                        </select>
                                    </div>
                                    <div class="row row-cols-lg-auto g-1 align-items-center ms-2 me-2 fs-12">Entries</div>
                                    <div class="search-box ms-2">
                                        <input type="text" class="form-control search form-control-sm" placeholder="Search..." [(ngModel)]="searchTerm"
                                            (input)="searchSubject.next(searchTerm)" />
                                        <i class="ri-search-line search-icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover" *ngIf="oplData.length > 0;else emptyOpl">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col" class="sort" (click)="onSort('detail')">OPL Name</th>
                                    <th *ngIf="!isOnMachineFilter" scope="col" class="sort" (click)="onSort('machine')">Machine Area</th>
                                    <th scope="col" class="sort" (click)="onSort('uploaded_by')">Uploaded By</th>
                                    <th scope="col" class="sort" (click)="onSort('created_at')">Date Added</th>
                                    <th scope="col" class="sort" (click)="onSort('file_size')">Size</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="oplData.length > 0">
                                <tr *ngFor="let data of oplData; let i = index">
                                    <th scope="row">{{ calculateStartingIndex(i) }}</th>
                                    <td>
                                        <a href="javascript:void(0)" (click)="oplDownloadLink(data.file_name, data.detail)" class="text-reset d-flex align-items-center">
                                            <div class="flex-shrink-0 fs-17 me-2 filelist-icon">
                                                <i class="{{ data.file_ext === 'pptx' ? 'ri-file-ppt-2-fill' : data.file_ext === 'pdf' ? 'ri-file-pdf-fill' : 'ri-image-fill' }} 
                                                    align-bottom text-{{ data.file_ext === 'pptx' ? 'danger' : data.file_ext === 'pdf' ? 'primary' : 'success' }}"></i>
                                            </div>
                                            <div class="flex-grow-1 filelist-name">{{data.detail}}</div>
                                        </a>
                                    </td>
                                    <td *ngIf="!isOnMachineFilter" class="text-muted">{{ data.machine }}</td>
                                    <td class="fs-12 text-muted">{{ data.uploaded_by }}</td>
                                    <td class="fs-12 text-muted">{{ data.created_at | date: "MMM dd, yyyy 'at' hh:mm a" }}</td>
                                    <td class="fs-13 text-muted">{{ data.file_size ? common.formatFileSize(data.file_size) : data.file_size }}</td>
                                    <td>
                                        <a ngbTooltip="{{ data.file_ext !== 'pptx' ? 'View' : 'Download' }} (.{{ data.file_ext }})" placement="bottom" class="mt-1 mb-1 btn btn-sm btn-soft-primary me-2"
                                            (click)="oplDownloadLink(data.file_name, data.detail)">
                                            <i class="ri-{{ data.file_ext !== 'pptx' ? 'eye' : 'download' }}-line"></i>
                                        </a>
                                        <a *ngIf="this.currentUser === data.uploaded_by || userData.role_name === 'Admin'" ngbTooltip="Edit" placement="bottom" class="mt-1 mb-1 btn btn-sm btn-soft-success me-2"
                                            (click)="openModal(content, data)">
                                            <i class="ri ri-edit-2-line"></i>
                                        </a>
                                        <button *ngIf="this.currentUser === data.uploaded_by || userData.role_name === 'Admin'" ngbTooltip="Delete" placement="bottom" type="button"
                                            class="mt-1 mb-1 btn btn-soft-danger btn-sm" (click)="onDeleteOpl(data.opl_id, data.detail)">
                                            <i class="ri ri-delete-bin-line"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-center">
                            <ngb-pagination [collectionSize]="totalItems" [maxSize]="3" [(page)]="currentPage" [pageSize]="pageSize"
                                (pageChange)="isOnMachineFilter ? searchOplPerMachineByPagination(searchTerm, selectedMachineFilter.slug) :  searchOplByPagination(searchTerm)">
                            </ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <button (click)="topFunction()" class="btn btn-danger btn-icon landing-back-top" id="back-to-top">
            <i class="ri-arrow-up-line"></i>
        </button>
    
    </div>
    <ng-template #emptyOpl>
        <div class="card table-responsive p-3">
            <div class="text-center mt-3" *ngIf="!isLoading">
                <h4 class="card-title">OPL is empty</h4>
            </div>
            <div class="d-flex justify-content-center">
                <img src="assets/images/file.png" alt="no-finding" height="300">
            </div>
        </div>
    </ng-template>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ oplId ? 'Update' : ' Add' }} OPL</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="p-2">
                    <div class="row g-3">
                        <div class="col-lg-12">
                            <label class="form-label">OPL Name</label>
                            <input [(ngModel)]="form.detail" placeholder="Input OPL description" type="text"
                                class="form-control">
                        </div>
                        <div class="col-lg-6">
                            <label for="typeahead-http" class="form-label">Uploaded By</label>
                            <input id="typeahead-http" type="text" class="form-control"
                                (ngModelChange)="onEmployeeFormSearch($event)" [(ngModel)]="employee" (focus)="focus$.next($any($event).target.value)"
                                (click)="click$.next($any($event).target.value)"
                                [ngbTypeahead]="employeeSearch" [editable]="false" [inputFormatter]="employeeFormatter"
                                [resultFormatter]="employeeFormatter" #instance="ngbTypeahead" placeholder="Search for employee" />
                            <small *ngIf="employeeSearching" class="form-text text-muted">Searching...</small>
                            <small *ngIf="employeeSearchLength" class="form-text text-muted">Type at least {{ 3 - employeeSearchLength }} more character</small>
                        </div>
                        <div class="col-lg-6">
                            <label class="form-label">Date Added</label>
                            <input type="datetime-local" class="form-control" [(ngModel)]="form.created_at" (change)="onDateAddedChange($event)">
                        </div>
                        <div class="col-lg-6">
                            <label class="form-label">Machine Area</label>
                            <select class="form-select" [(ngModel)]="form.machine_id">
                                <option class="text-muted" [value]="''">Select machine area</option>
                                <option *ngFor="let machine of defaultMachineData" [value]="machine.id">{{ machine.name }}</option>
                            </select>
                        </div>
                        <div class="col-lg-6" *ngIf="!oplId">
                            <label class="form-label">OPL File</label>
                            <input type="file" class="form-control"
                                [(ngModel)]="selectedOplName" 
                                accept="application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.presentation,
                                    application/pdf, .png, .jpg, .jpeg"
                                (change)="onSelectedFile($event)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <small *ngIf="isFormInvalid" class="form-text text-danger">Please fill all the field above!</small>
        <button type="button" class="btn btn-success" (click)="onSaveChanges()">Save</button>
    </div>
</ng-template>