
<app-breadcrumbs title="Master User" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<div class="card">
    <div class="card-header">
        <div class="row g-4">
            <div class="col-sm-auto">
                <div class="d-flex gap-1">
                    <button type="button" class="btn btn-primary add-btn" id="create-btn" (click)="openModal(content)">
                        <i class="ri-add-line align-bottom me-1"></i> Add
                    </button>
                </div>
            </div>
            <div class="col-sm">
                <div class="d-flex justify-content-sm-end">
                    <div class="row row-cols-lg-auto g-1 align-items-center me-2">Show</div>
                    <div>
                      <select class="form-select" [(ngModel)]="pageSize" (change)="searchSubject.next(searchTerm)">
                        <option [value]="10">10</option>
                        <option [value]="25">25</option>
                        <option [value]="50">50</option>
                        <option [value]="100">100</option>
                      </select>
                    </div>
                    <div class="row row-cols-lg-auto g-1 align-items-center ms-2 me-2">Entries</div>
                    <div class="search-box ms-2">
                        <input type="text" class="form-control search" placeholder="Search..." [(ngModel)]="searchTerm"
                            (input)="searchSubject.next(searchTerm)" />
                        <i class="ri-search-line search-icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body table-responsive">
        <ngx-loading [show]="isLoading"></ngx-loading>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="sort" (click)="onSort('role_name')">Role</th>
                    <th scope="col" class="sort" (click)="onSort('nik')">NIK</th>
                    <th scope="col" class="sort" (click)="onSort('name')">Name</th>
                    <th scope="col" class="sort" (click)="onSort('email')">Email</th>
                    <!-- <th scope="col" class="sort" (click)="onSort('area_access')">Line Access</th> -->
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody *ngIf="usersData.length > 0">
                <tr *ngFor="let data of usersData; let i = index">
                    <th scope="row">{{ calculateStartingIndex(i) }}</th>
                    <td>{{ data.role_name }}</td>
                    <td>{{ data.nik }}</td>
                    <td>{{ data.name }}</td>
                    <td>{{ data.email }}</td>
                    <!-- <td>{{ setLineAccess(data.area_access) }}</td> -->
                    <td>
                        <a ngbTooltip="Edit" placement="start" class="mt-1 mb-1 btn btn-sm btn-soft-success me-2"
                            (click)="openModal(content, data)">
                            <i class="ri ri-edit-2-line"></i>
                        </a>
                        <button ngbTooltip="Delete" placement="end" type="button"
                            class="mt-1 mb-1 btn btn-soft-danger btn-sm" (click)="onDeleteUser(data.user_id, data.name)">
                            <i class="ri ri-delete-bin-line"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-center">
            <ngb-pagination 
                [collectionSize]="totalItems" 
                [maxSize]="3" 
                [(page)]="currentPage" 
                [pageSize]="pageSize"
                (pageChange)="searchUsersByPagination(searchTerm, currentPage, pageSize)">
            </ngb-pagination>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ userId ? "Update" : " Add" }} User</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="p-2">
                    <div class="row g-3">
                        <div class="col-md-12">
                            <label for="typeahead-http" class="text-muted">Search Result of Employee Names</label>
                            <input id="typeahead-http" type="text" class="form-control"
                                (ngModelChange)="onEmployeeFormSearch($event)" [(ngModel)]="employee"
                                [ngbTypeahead]="employeeSearch" [editable]="false" [inputFormatter]="employeeFormatter"
                                [resultFormatter]="employeeFormatter" placeholder="Search for employee" />
                            <small *ngIf="employeeSearching" class="form-text text-muted">Searching...</small>
                            <small *ngIf="employeeSearchLength" class="form-text text-muted">Type at least {{ 3 - employeeSearchLength }} more character</small>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">NIK</label>
                            <input [(ngModel)]="form.nik" placeholder="Input NIK" type="text" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Email</label>
                            <input [(ngModel)]="form.email" placeholder="Input Email" type="text"
                                class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Name</label>
                            <input [(ngModel)]="form.name" placeholder="Input User Name" type="text"
                                class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Role</label>
                            <select class="form-select" [(ngModel)]="form.role_id">
                                <option class="text-muted" [value]="''">Select Role</option>
                                <option [value]="'1'">User</option>
                                <option [value]="'2'">Admin</option>
                            </select>
                        </div>
                        <!-- <div class="col-md-6">
                            <div class="row">
                                <label class="form-label">Line Access</label>
                            </div>
                            <div class="btn-group" ngbDropdown>
                                <button id="btnPeriod" type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                                    {{ selectedLineAccess || 'Select Line' }}
                                </button>
                                <div class="dropdown-menu dropdown-menu-md p-4" ngbDropdownMenu>
                                    <form>
                                        <div class="form-check custom-checkbox mb-2" *ngFor="let data of lineData">
                                            <input [disabled]="data.id > 0 && isLineAccessDisabled" [checked]="data.checked" (change)="onLineAccessSelected($event, data)" type="checkbox" class="form-check-input" id="checkPeriod-{{ data.id }}">
                                            <label class="form-check-label" for="rememberdropdownCheck">{{ data.name }}</label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <small *ngIf="isFormInvalid" class="form-text text-danger">Please fill all the field above!</small>
        <button type="button" class="btn btn-success" (click)="onSaveChanges()">
            Save
        </button>
    </div>
</ng-template>